<IfModule mod_rewrite.c>
    RewriteEngine On
    # If no directories
    RewriteCond %{REQUEST_FILENAME} !-d
    # Or files match
    RewriteCond %{REQUEST_FILENAME} !-f
    # Redirect to index.php
    RewriteRule ^ index.php [L]
</IfModule>